body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
ul, ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo .logo-part {
color: #2e2f42;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.nav-link {
    font-weight: 500;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.contacts {
    font-style: normal;
}
.contacts-link {
    font-weight: 500;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus
{
   color: #404bbf;
}

.page-footer{
    background: #2e2f42;
}

.hero-section {
    background: #2e2f42;
}

.hero-title {
font-weight: 700;
font-size: 56px;
/* line-height: 60px; */ 
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.hero-button {
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}

.feature-title {
font-weight: 500;
font-size: 20px;
/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.feature-text {
    font-weight: 400;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.team-section {
    background: #f4f4fd;
}
.team-title {
    font-weight: 700;
font-size: 36px;
/* line-height: 40px; */ 
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.team-item {
    background: #fff;
}
.team-item-title {
   font-weight: 500;
font-size: 20px;
/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.team-text {
    font-weight: 400;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.portfolio-title {
    font-weight: 700;
font-size: 36px;
/* line-height: 40px; */ 
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.portfolio-item-title {
font-weight: 500;
font-size: 20px;
/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-text {
    font-weight: 400;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer-text {
    font-weight: 400;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}